

<%= form_for(@sidecla) do |f| %>
    <fieldset>
      <% if @sidecla.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@sidecla.errors.count, "error") %> prohibited this admin from being saved:</h2>

            <ul>
              <% @admin.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>


      <table class="col-lg-8">
        <tr>
          <div class="form-group">
            <td style="margin-top: 10px;width:30px;text-align: right;padding: 10px;"><%= f.label :关键字 %></td>
            <td> <%= f.text_field :keywords, class:"form-control" ,onkeyup:"value=value.replace(/[^\a-\z\A-\Z]/g,'')"%></td>
          </div>
        </tr>
        <tr>
          <div class="form-group">
            <td style="margin-top: 10px;width:80px;text-align: right;padding: 10px;"><%= f.label :标题 %></td>
            <td><%= f.text_field :title, class:"form-control" %></td>
          </div>
        </tr>

        <tr style="display: none">
          <div style="display: none" class="form-group">
            <td style="margin-top: 10px;width:80px;text-align: right;padding: 10px;"><%= f.label :渲染%></td>
            <td><%= f.hidden_field :renderto, class:"form-control" %></td>
          </div>
        </tr>

        <tr>
          <td align="right" colspan="2" style="padding: 0px;"><div class="actions">
            <%= f.submit :"确定", class:"btn btn-primary-outline pull-right" %></td>
          </div>
        </tr>
      </table>
    </fieldset>
<% end %>
