
<%= render 'head'%>
<div class="container fluid-height clearfix">

  <h2 class="heading">留言板</h2>
  <div class="widget-container fluid-height clearfix">
    <table class="table table-hover table-bordered table-striped">
      <thead>
      <tr>

        <th>联系人</th>
        <th>联系电话</th>
        <th>留言内容</th>
        <th>操作</th>
      </tr>

      </thead>

      <% @messages.each do |message| %>
          <tr>
            <td><%= message.name %></td>
            <td><%= message.tel %></td>
            <td><%= message.content %></td>
            <td  width="100px" align="center"><%= link_to '',message , class:"icon-eye-open usricons", title: "显示"%>
              <%#=link_to '', edit_sidemessage_path(sidemessage) ,class:"icon-pencil usricons"%>
              <%= link_to '', message, method: :delete, data: { confirm: '确认删除？' },class:"icon-trash usricons",title: "删除" %></td>
          </tr>
      <% end %>

    </table>
    <div class="digg_pagination">
      <%= will_paginate @messages, :previous_label => '上一页', :next_label => '下一页' %>
    </div>
  </div>


</div>