
<script type="text/javascript" language="javascript">
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#img1')
                        .attr('src', e.target.result)
                //.width(300)
                //.height(200);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>





<%= form_for(@advertisement) do |f| %>
    <fieldset>
      <% if  @advertisement.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize( @advertisement.errors.count, "error") %> prohibited this admin from being saved:</h2>

            <ul>
              <% @advertisement.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>


      <table class="col-lg-8">
        <tr>
          <div class="form-group">
            <td style="margin-top: 10px;width:80px;text-align: right;padding: 10px;"><%= f.label :标题 %></td>
            <td><%= f.text_field  :title, class:"form-control" %></td>
          </div>
        </tr>

        <tr>
          <div class="form-group">
            <td style="margin-top: 10px;width:80px;text-align: right;padding: 10px;"><%= f.label :位置 %></td>
            <td><%= f.text_field :local, class:"form-control" %></td>
          </div>
        </tr>

        <tr>
          <div class="form-group">
            <td style="margin-top: 10px;width:80px;text-align: right;padding: 10px;"><%= f.label :备注 %></td>
            <td ><%= f.text_area :content, class:"form-control", size:'20' %></td>
          </div>
        </tr>

        <tr>
          <div>


            <td style="margin-top: 10px;width:80px;text-align: right;padding: 10px;"><%= f.label :图片 %></td>
            <td >
              <%if @advertisement.avatar.url%>
                  <div>
                    <%= image_tag('no_image.png',id:'img1')%>
                  </div>
              <%else%>
                  <div>
                    <img id="img1"  src=<%= @advertisement.avatar.url%> />
                  </div>
              <%end%>
              <div >
                <%= f.file_field :avatar, :onchange => "readURL(this)"%>
              </div>

            </td>
          </div>
        </tr>
        <tr>
          <td align="right" colspan="2" style="padding: 0px;"><div class="actions">
            <%= f.submit :"确定", class:"btn btn-primary-outline pull-right" %>
          </div></td>
        </tr>
      </table>
    </fieldset>
<% end %>
