


<div class="container fluid-height clearfix">
  <%= render 'head'%>

  <div class="row">
    <div class="col-lg-12">
      <h2 class="heading"><i class="icon-bullhorn"></i>&nbsp; 广告信息</h2>
      <div class="widget-container fluid-height clearfix" style="padding: 10px;">

        <div class="col-lg-6">


          <p>
            <span class="col-sm-2" style="text-align: right;">标题:</span>
            <%= @advertisement.title %>
          </p>

          <p>
            <span class="col-sm-2" style="text-align: right;">位置:</span>
            <%= @advertisement.local %>
          </p>

          <p>
            <span class="col-sm-2" style="text-align: right;">备注:</span>
            <%= image_tag @advertisement.avatar.url,width:'100' %>
          </p>

          <p>
            <span class="col-sm-2" style="text-align: right;">备注:</span>
            <%= @advertisement.content %>
          </p>

          <%= link_to '编辑', edit_advertisement_path(@advertisement) ,class:"btn btn-primary-outline pull-right",'data-no-turbolink'=>true%>
          <%= link_to '返回', advertisements_path,class:"btn btn-primary-outline pull-right" %>
        </div>
      </div>
    </div>
  </div>
</div>