<script type="text/javascript" language="JavaScript">

    function cardtypeselect(){
        document.getElementById("sidecontent_sidecla_id").value=document.getElementById("sideclaid").value;



    }
</script>

<%= form_for(@sidecontent) do |f| %>
    <fieldset>
      <% if @sidecontent.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@sidecontent.errors.count, "error") %> prohibited this sidecontent from being saved:</h2>

            <ul>
              <% @sidecontent.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <table class="col-lg-12">
        <tr>
          <div class="form-group">
            <td style="margin-top: 10px;width:90px;text-align: right;padding: 10px;"><%= f.label :分类 %></td>
            <td> <%= f.hidden_field :sidecla_id,value:1%>
              <% @sideclas = Sidecla.all%>
              <select id="sideclaid" class="form-control" type="text" onchange="cardtypeselect()">

                <%= @sideclas.each do |f| %>
                    <option value=<%=f.id%>><%=f.title%></option>
                <%end%>
              </select></td>
          </div>
        </tr>
        <tr>
          <div  class="form-group">
            <td style="margin-top: 10px;width:90px;text-align: right;padding: 10px;"> <%= f.label :标题 %></td>
            <td><%= f.text_field :title ,:class =>"form-control"%></td>
          </div>
        </tr>
        <tr>
          <div  class="form-group">
            <td style="margin-top: 10px;width:90px;text-align: right;padding: 10px;"> <%= f.label :摘要 %></td>
            <td ><%= f.text_field :inpaper,:class =>"form-control" %></td>
          </div>

        </tr>
        <tr>
          <div class="form-group">
            <td style="margin-top: 10px;width:90px;text-align: right;padding: 10px;"><%= f.label :内容 %></td>
            <td><%= f.kindeditor :content,:class =>"form-control"%></td>
          </div>
        </tr>
        <tr>
          <div class="form-group">
            <td style="margin-top: 10px;width:90px;text-align: right;padding: 10px;display: none">   <%= f.label :发布时间 %></td>
            <td><%= f.hidden_field :time,value:Time.now.strftime("%Y-%m-%d %H:%M:%S"),:class =>"form-control"%></td>
          </div>
        </tr>
        <tr>
          <div class="form-group">
            <td style="margin-top: 10px;width:90px;text-align: right;padding: 10px; display: none"><%= f.label :admin_id %></td>
            <td  style="display: none"><%= f.number_field :admin_id ,value:session[:admin_id],:class =>"form-control"%></td>
          </div>
        </tr>
        <tr>
          <td align="right" colspan="2" style="padding: 0px;"><div class="actions">
            <%= f.submit :"确定", class:"btn btn-primary-outline pull-right" %></td>
          </div>
        </tr>
      </table>
    </fieldset>
<% end %>
